{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section>
        <div data-aos="flip-up" class="img-bloc" style="background: url('/assets/img/home.jpg') no-repeat center; background-size: cover;"></div>
        <div class="content-bloc">
                <h1 data-aos="fade-left"> Coder de manière responsable et durable</h1>
                <p data-aos="fade-right"> C’est un fait, la crise écologique est devenue une urgence majeure. La sixième extinction massive a déjà commencé et le changement climatique se fait de plus en plus ressentir au fil des années. Mais qu’en est-il d’internet ?En matière d’émissions de CO2, il pollue 1.5 fois plus que le transport aérien. D’ailleurs, en 20 ans, le poids d’une page web a été multiplié par 115 (source : https://www.greenit.fr/)</p>
                <p data-aos="fade-down">Face à ce constat, un organisme de formation a été fondé en 2017 : GreenCode. Son objectif est d’être une plateforme d’éducation permettant à tout instructeur expert en accessibilité et en éco-conception web de présenter des modules de cours. À terme, GreenCode désire devenir la référence française pour les développeurs soucieux de leur impact digital.</p>
                <div class="last-formation">
                    <h2>Dernières formations en ligne</h2>
                        {% for category in categories %}
                            <li><a href="{{ path('category_show', {'slug': category.slug, 'id': category.id}) }}">{{ category.name }}</a></li>
                        {% endfor %}
                </div>
        </div>
    </section>
{% endblock %}
