{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="formation-basis">
        <div class="formation-title">
            <h1>{{  category.name  }}</h1>
        </div>
        
        <div class="formation-image">
            <img src="https://dummyimage.com/500x300/99f7d6/fff" alt="image">
        </div>

        <div class="formation-description">
            <h2>Description de la formation</h2>
            {{  category.featuredText|raw }}
        </div>    
        
        <div class="lessons-list">
            <h2>Liste des leçons</h2>
                {% include 'lesson/list_lesson.html.twig' with {'lessons': category.lessons} %}
        </div>
    </div>
{% endblock %}
