:root {
  --color-primary: #00a8ff;
  --sidebar-bg: #FFF;
  --sidebar-menu-header-color: #3f3f3f;
  --sidebar-menu-icon-color: #99CA9C;
  --form-panel-icon-color: #99CA9C;
  --color-primary: #F1666A;


}
