@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    background: url('/assets/img/bg.svg') no-repeat center;
    background-size: cover;
    font-size: 12px;
    font-family: "Poppins";
    color: #3f3f3f;
    line-height: 1.5;
}
h1 { font-size: 3em; line-height: 1; font-weight: 700;}
h1 {margin: 20px 0 20px 0; }
h2 { font-size: 1.5em; font-weight: 500; color: #F1666A; }
p { font-weight: 300; margin: 0; text-align: justify;}
a,
ul,
li {
  text-decoration: none;
  color: #3f3f3f;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  width: 100%;
  height: 100%;

}

.btn {
  display: block;
  background:hsl(124, 32%, 70%, 1);
  height: 20px ;
  transition: 0.5s;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Poppins';  
}
.btn:hover {
  background: hsl(124, 32%, 75%, 1 );
  color: #FFF;
}


/*----- BASE.HTML.TWIG -----*/
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border-radius: 60px;

}

    /*----- HEADER -----*/
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 10px 0;
    }
    .logo {
      position: sticky;
      margin: 20px 0 0 100px;
    }
    .navigation {
      margin-top: 20px;
    }
    .navigation ul {
      display: inline-flex;
      align-items: center;
    }
    .navigation li {
      padding: 0 30px;
      font-size: 14px;
    }
    /*------------------*/

    /*----- LOGIN ------*/
    .login {
      position: sticky;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px 100px;
      z-index: 1;
    }
    .login p {
      font-size: 1em;
      font-weight: 500;
      letter-spacing: 2px;

    }
    
    .login svg { fill: #3f3f3f; padding: 0 20px; margin-top: 5px;}
    .login svg:hover { fill: #99CA9C;}
    .login-dropbtn {
      background-color: transparent;
      padding: 0 40px;
      font-size: 16px;
      border: none;
      transition: 0.8s;
      cursor: pointer;
    }  
    .login-dropdown {
      position: relative;
      display: inline-block;
    }    
    .login-dropdown-content {
      display: none;
      position: absolute;
      background-color: #FFF;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }    
    .login-dropdown-content a {
      color: 3f3f3f;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: 0.3s;
    }    
    .login-dropdown-content a:hover {background-color: #99CA9C;}
    .login-dropdown:hover .login-dropdown-content {display: block;}

.footer {
  height: 50px;
}

.footer p {
  margin-top: 15px;
  text-align: center;
}
/*-------------------------*/


/*----- HOME.HTML.TWIG -----*/
.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;

}
.left-col,
.right-col {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0px;
  z-index: 0;
}

.left-col h1 {
  font-size: 4em;
}
.home-content,
.home-img,
.login-img,
.register-img {
  width: 700px;
  height: 600px;
  z-index: 300;
}
.home-img,
.login-img,
.register-img {
  background : url('/assets/img/home.jpg') no-repeat center;
  background-size: cover;
  border-radius: 60px;
  border: #FFF solid 8px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.last-formation li {
  padding-bottom: 10px;
  font-weight: 300;
}

.last-formation a:hover {
  color: #F1666A;
}


/*----- FORMULAIRES -----*/
.form-col {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group,
.form-check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-group { margin: 15px auto; }
.form-group label { font-size: 14px; }
.form-check { padding: 0 30px ;}
.form-check input { width: 20px; }

input {
  width: 60%;
  height: 40px;
  border: #FFF solid 1px;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 14px;
  font-family: 'Poppins';
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  color: #99CA9C;
}

input:focus { outline: #99CA9C solid 1px; }
textarea {
  width: 60%;
  height: 100px;
  border: #FFF solid 1px;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 14px;
  font-family: 'Poppins';
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  color: #99CA9C;
  padding-top: 10px;
}

fieldset { width: 100%; height: 80px; }
fieldset input { width: 100%; border: none; box-shadow: none;}


.btn-login {
  margin: 0 auto 100px auto;
  border: none;
  display: block;
  background:hsl(124, 32%, 70%, 1);
  transition: 0.5s;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Poppins';  
}
.btn-login:hover {
  background: hsl(124, 32%, 70%, 0.7);
  color: #FFF;
}

.login-img {
  background : url('/assets/img/login.jpg') no-repeat center;

}
/*------------------*/
.register-img{
  background : url('/assets/img/register.jpg') no-repeat center;
}
/*----*/






  /*-- MENU MOBILE --*/
  .menu-mobile {
    display: none;
    z-index: 200;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #FFF;

  } 
  .menu-mobile ul {text-align:center; font-size:2.5em; margin-top: 200px;}
  .menu-mobile li {margin-bottom:50px;}
  .menu-mobile a:hover {color:hsl(124, 32%, 70%, 1);}

  .mobile-bloc {
    display: none;
    margin: 0 auto;
    padding-right: 20px;
    cursor: pointer;
  }

  .close-menu {
    position: absolute;
    top: 6%;
    right:17%;
  }

  .burger-menu svg,
  .close-menu svg {
    fill: hsl(124, 32%, 70%, 1);
  }
  .burger-menu svg:hover,
  .close-menu svg:hover {
    fill: hsl(124, 32%, 90%, 1);
  }


/*----- HOME.HTML.TWIG -----*/


/*----- FORMATIONS_INDEX.HTML.TWIG -----*/
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*----- ITEM_FORMATION.HTML.TWIG -----*/
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 300px;
  width: 600px;
  margin: 25px 0;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover,
.l-card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.img-card {
  margin: 50px auto;
  width: 300px;
  height: 100%;
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  width: 400px;
  height: 100%;
}

.about-card h2 {
  font-size: 20px;
  text-align: left;
  margin: 20px 0;
  color: #000;
} 

.about-card p {
  margin-bottom: 20px;
  padding-right: 70px;
  text-align: justify;
}

.time-card p{
  font-size: 8px;
  margin-bottom: 5px;
}

/*----- SHOW_FORMATION.HTML.TWIG -----*/
.formation-basis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formation-title {
  width: 100%;
  height: 100px;
  margin: 50px 0;
}
.formation-image {
  width: 500px;
  height: 300px;
  background: #FFF;
  text-align: center;
  margin: 100px 0;
}
.formation-description {
  padding: 0 80px;
  text-align: center;
}
.formation-description h2 {
  margin: 10px 0 10px 0;
}

.lessons-list {
  margin-top: 50px;
}

/*----SHOW_LESSON----*/

.lesson{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
}
.lesson-header{
  padding: 60px;
}
.lesson-header h1 {
  margin-top: 100px;
  margin-bottom: 10px;
}
  
iframe {
  margin: 0 auto;

}
.lesson-content {
  text-align: justify;
  font-weight: 300;
  padding: 100px;
}

/*----USER ACCOUNT----*/
.user-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 1400px)
{
  .navigation {
    display: none;
  }

  .mobile-bloc {
    display: block;
  }
  
  .page {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .left-col {
    text-align: center;
    margin: 0;
  }


  .home-img,
  .login-img,
  .register-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 900px)
{
  .main-container {
    width : 100%;
    border: none;
    margin-top: 0;
  }

  header {
    background: #FFF;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    padding: 30px 0;
  }

  .logo {
    position: relative;
    margin: 0;
  }

  .login {
    margin: 15px 0 0 0;
  }
  .btn {
    display: none;
  }
  .mobile-bloc {
    padding: 0;
  }
  .mobile-bloc svg {
    margin-top: -20px;
    width: 40px;
    height: 40px;
  }

  .right-col {
    margin-top: 20px;
  } 
}