{% extends 'base.html.twig' %}

{% block title %}Nos formations{% endblock %}

{% block body %}
<section>
    <div class="content-bloc">
        <h1 data-aos="fade-up" >Notre catalogue de formations</h1>
            <div class="cards-list">
            {% for category in categories %}
            {%  include 'formations/card-formation.html.twig' with { categories } %}
            {% endfor %}
            </div>
    </div>
</section>
{% endblock %}            
