{% extends 'base.html.twig' %}

{% block title %}Nos formations{% endblock %}

{% block body %}
    <h1>Liste de nos formations actuelles</h1>
        <div class="list">
            {% for category in categories %}
            {%  include 'formations/item_formation.html.twig' with { categories } %}
            {% endfor %}
        </div>
{% endblock %}
