{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
<section>
    <div data-aos="flip-up" class="img-show">
        <img class="img-preview" src="{{ vich_uploader_asset(category, 'imageFile') }}">
    </div>

    <div class="content-bloc">
        <h1 data-aos="fade-left">{{  category.name  }}</h1>
        <p>{{ category.featuredText|raw }}</p>

        <div class="cards-list">
            {% include 'lesson/lesson_list.html.twig' with {'lessons': category.lessons} %}
        </div> 
    </div>
       
</section>    
{% endblock %}
